<!-- Classes Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">School Classes</h1>
            <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit eirmod
                sit. Ipsum diam justo sed rebum vero dolor duo.</p>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" *ngFor="let item of mycourses">
                <div class="classes-item">
                    <div class="bg-light rounded-circle w-75 mx-auto p-3">
                        <img class="img-fluid rounded-circle" [src]="item.img" alt="" style="height: 200px !important;">
                    </div>
                    <div class="bg-light rounded p-4 pt-5 mt-n5">
                        <p class="text-center">{{item.category}}</p>
                        <a class="d-block text-center h3 mt-3 mb-4" [routerLink]="['/courses','course_details',item.id]">{{item.title}}</a>
                        <div [innerHTML]="item.disc" style="max-height:50px; text-overflow:ellipsis; overflow:hidden"></div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- Classes End -->