<!-- Facilities Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">School Facilities</h1>
            <p>Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s" *ngFor="let item of facilities">
                <div class="facility-item">
                    <div [class]="item.bgcolor">
                        <span [class]="item.spancolor"></span>
                        <i [class]="item.icon"></i>
                        <span [class]="item.spancolor"></span>
                    </div>
                    <div [class]="item.bodybg">
                        <h3 [class]="item.titlecolor">{{item.title}}</h3>
                        <p class="mb-0">{{item.disc}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Facilities End -->